PORT=4001
DB_USER_NAME=db_user_name # replace with your db user name
DB_HOST=db_host # replace with you db host
DB_NAME=db_name # replace with your database name
DB_PASSWORD=db_password # replace with you database password
DB_PORT=5432 # replace with your database port
REDIS_URL=redis://localhost:6379 # replace with your redis connection string